{% extends "index.html" %}

{% block title %}Matchs list{% endblock %}

{% block menu %}
 <li><a href="{% url 'index' %}">Home</a></li>
 <li><a href="{% url 'players2' %}">Players</a></li>
 <li class="active"><a href="{% url 'matchs' %}">Matchs</a></li>
{% endblock %}


{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Matchs list</h3>
  </div>
  <div class="panel-body">
	<!-- Panel content -->
	<table class="table">
	 <thead>
	  <tr>
	    <th>Id</th>
	    <th >Place</th>
	    <th>Date</th>
	    <th>Winer</th>
	    <th>Loser</th>
      <th>Commentaires</th>
	  </tr>
	 </thead>
	 <tbody>

	  {% for m in matchs  %}
	  <tr id="{{m.id}}-par" onClick = "nomfunction('{{m.id}}')">

	    <td>{{m.id}}</td>
	    <td>{{m.place}}</td>
	    <td>{{m.date}}</td>
	    <td>{{m.winer.player.name}} <span class="badge">{{m.winer.score}}</span></td>
	    <td>{{m.loser.player.name}} <span class="badge">{{m.loser.score}}</span></td>
      <td> <button class="btn1">Hide</button>
           <button class="btn2">Show</button>  </td>

	  </tr >

    <tr >
      <p class="hello" id="{{m.id}}-comment" >
        Commentaires :
        <textarea rows="4" cols="30">
        oh oh yi-o

        </textarea>
      </p>

    </tr>

	  {% endfor %}



{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'js/matchjs.js' %}"></script>

	 </tbody>
	</table>


  </tr>
   </div>
</div>


{% endblock %}
