{% extends "indexlog.html" %}

{% block title %}Profil{% endblock %}

{% block head %}
{% load staticfiles %}
  <script src="{% static "js/filter-players.js" %}"></script>
{% endblock %}

{% block menu %}
 <li><a href="{% url 'index' %}">Home</a></li>
 <li><a href="{% url 'players2' %}">Players</a></li>
 <li><a href="{% url 'team' %}">Teams</a></li>
 <li><a href="{% url 'matchs' %}">Matchs</a></li>
{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" action="/project/profil/" method="post">

{% csrf_token %}
<!-- Form Name -->
<legend>Profil</legend>


    <div class="form-group">
    </br>
    Modify your profil here
  </br></br>
      {{ res.name }} </br>
      {{ res.password }} </br>
      Age: {{ res.age }} </br>
      {{ res.title }} </br>
      {{ res.team }} </br>
      </br>
      <input type="submit" onClick"submit" class="btn btn-success" value="Valider"/>
    </div>

</form>




{% endblock %}
